<template>
  <q-page class='bg-light-gray'>
    <div class='column q-pa-md'>
      <div v-if='!member || !member.loans || member.loans.length == 0' class='text-h4 text-accent q-pb-md'>Нет действующих договоров займов</div>
      <div v-else class='row items-start'>
        <template v-for="(loan, index) in member.loans.filter(x => x.remains > 0)">
          <q-card flat bordered class='q-mb-md full-width' :key='index'>
            <loan :loan='loan' />
          </q-card>
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
import Loan from '../components/loan'
import { mapState } from 'vuex'

export default {
  name: 'page-loan',
  components: { Loan },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    }
  }
}
</script>
