<template>
  <q-page class='bg-light-gray'>
    <div class='column q-pa-md'>
      <div v-if='!member || !member.guaranties || member.guaranties.length == 0' class='text-h4 text-accent q-pb-md'>Нет действующих договоров поручительства</div>
      <div v-else class='row items-start'>
        <template v-for="(guarantee, index) in member.guaranties.filter(x => x.remains > 0)">
          <q-card flat bordered class='q-mb-md full-width' :key='index'>
            <guarantee :loan='guarantee' />
          </q-card>
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
import Guarantee from '../components/guarantee'
import { mapState } from 'vuex'

export default {
  name: 'page-guarantee',
  components: { Guarantee },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    }
  }
}
</script>
