<template>
  <q-page class='bg-light window-height window-width row justify-center items-center'>
    <div class='column'>
      <div class='row justify-center q-pb-md'>
        <img src='../assets/logotype.svg' class='brand'>
      </div>
      <div class='row'>
        <q-card flat bordered class='bg-white form-card'>
          <q-card-section>
            <div>
              <q-form class='q-gutter-md' @submit='submit'>
                <q-input outlined lazy-rules v-if='!isPhoneVerificationCodeSended' v-model='id' type='text' label='Номер книжки пайщика' :readonly='isPhoneVerificationCodeSended' maxlength="17">
                  <template v-slot:prepend>
                    <q-icon name='o_account_circle' />
                  </template>
                  <template v-if='id' v-slot:append>
                    <q-icon name='o_cancel' @click.stop='id = ""' class='cursor-pointer' />
                  </template>
                </q-input>
                <q-input outlined lazy-rules v-if='!isPhoneVerificationCodeSended' v-model='phone' v-mask='"+7 (###) ###-####"' type='text' label='Номер телефона' :readonly='isPhoneVerificationCodeSended' maxlength="17">
                  <template v-slot:prepend>
                    <q-icon name='o_phone' />
                  </template>
                  <template v-if='phone' v-slot:append>
                    <q-icon name='o_cancel' @click.stop='phone = "+7 ("' class='cursor-pointer' />
                  </template>
                </q-input>
                <q-input outlined lazy-rules v-if='isPhoneVerificationCodeSended' v-model='phoneVerificationCode' type='text' label='Код подтверждения' maxlength="5">
                  <template v-slot:prepend>
                    <q-icon name='o_lock' />
                  </template>
                  <template v-if='phoneVerificationCode' v-slot:append>
                    <q-icon name='o_cancel' @click.stop='phoneVerificationCode = null' class='cursor-pointer' />
                  </template>
                </q-input>
                <div>
                  <q-btn outline unelevated color='primary' size='lg' class='full-width' type='submit' :label='submitLabel' />
                </div>
              </q-form>
            </div>
          </q-card-section>
          <q-card-section v-if='isPhoneVerificationCodeSended'>
            <q-btn flat class='full-width' @click="resendPhoneVerificationCode">Отправить новый код подтверждения</q-btn>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style lang='sass'>
.bg-light
  background-color: $light
.brand
  width: 300px;
  height: 150px;
.form-card
  width: 400px;
</style>

<script>
function isNumeric (value) {
  if (typeof value !== 'string') return false
  return !isNaN(value) && !isNaN(parseFloat(value))
}

export default {
  name: 'page-login',
  data () {
    return {
      id: '',
      phone: '+7 (',
      phoneVerificationCode: null,
      isPhoneVerificationCodeSended: false
    }
  },
  computed: {
    submitLabel () {
      return this.isPhoneVerificationCodeSended ? 'Подтвердить' : 'Вход'
    }
  },
  methods: {
    async submit () {
      const {
        id,
        phone,
        phoneVerificationCode
      } = this
      if (!isNumeric(id) || id === '0') {
        this.$q.notify({ message: 'Некорректный номер книжки пайщика' })
        return
      }
      const phoneNormalized = phone.replace(/\D/g, '')
      if (this.isPhoneVerificationCodeSended) {
        await this.$store.dispatch('auth/login', {
          phone: phoneNormalized,
          phoneVerificationCode
        })
        this.$router.replace({ name: 'dashboard' })
      } else {
        try {
          await this.$store.dispatch('auth/sendVerificationCode', {
            id,
            phone: phoneNormalized
          })
          this.isPhoneVerificationCodeSended = true
        } catch (error) {
          this.isPhoneVerificationCodeSended = false
          this.$utils.handleAxiosError(error)
        }
      }
    },
    async resendPhoneVerificationCode () {
      const {
        id,
        phone
      } = this
      const phoneNormalized = phone.replace(/\D/g, '')
      await this.$store.dispatch('auth/resendVerificationCode', {
        id,
        phone: phoneNormalized
      })
    }
  }
}
</script>
