<template>
  <q-page class='bg-light-gray'>
    <div class='column q-pa-md'>
      <div v-if='member && member.ticketTemplates && member.ticketTemplates.length > 0' class='row items-start'>
        <template v-for="(template, index) in member.ticketTemplates">
          <q-card flat bordered class='q-mb-md full-width' :key='index'>
            <ticket-template :template='template' />
          </q-card>
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
// import Ticket from '../components/ticket'
import TicketTemplate from '../components/ticket-template'
import { mapState } from 'vuex'

export default {
  name: 'page-ticket',
  components: { TicketTemplate },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    }
  }
}
</script>
