<template>
  <div class="fullscreen bg-light text-accent text-center q-pa-md flex flex-center">
    <div>
      <div class="text-h4">
        Что-то пошло не так...
      </div>

      <q-btn
        class="q-mt-xl"
        color="primary"
        unelevated
        to="/"
        label="Назад"
        no-caps
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'page-error-not-found',
  mounted () {
  }
}
</script>
