<template>
  <q-page class='bg-light-gray'>
    <div class='column q-pa-md'>
      <div v-if='!member || !member.deposits || member.deposits.length == 0' class='text-h4 text-accent q-pb-md'>Нет действующих договоров сбережений</div>
      <div v-else class='row items-start'>
        <template v-for="(deposit, key) in member.deposits.filter(x => x.amount > 0)">
          <q-card flat bordered class='q-mb-md full-width' :key='key'>
            <deposit :deposit='deposit' />
          </q-card>
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
import Deposit from '../components/deposit'

export default {
  name: 'page-deposit',
  components: { Deposit },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    }
  }
}
</script>
