<template>
  <q-page class='bg-light-gray row justify-center items-center'>
    <div class='column'>
      <div class='row'>
        <h5 class='text-h5 text-white q-my-md'>Настройки</h5>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'page-settings',
  data () {
    return {
    }
  }
}
</script>
