<template>
  <q-page class='bg-light-gray row'>
    <q-pull-to-refresh @refresh='refresh' class='full-width q-pa-md'>
      <q-card flat class='text-dark'>
        <div class='row'>
          <div class='col-12 col-md-3'>
            <q-card-section class='q-pa-xs q-mt-sm '>
              <div class='text-caption'>Дата вступления</div>
              <div class='text-h5 text-accent'>{{member.joinDate}}</div>
            </q-card-section>
          </div>
        </div>
      </q-card>
    </q-pull-to-refresh>
  </q-page>
</template>

<style scoped lang="scss">
  .q-table-head {
    color: $accent;
  }
  .q-table-body {
    color: $accent;
  }
</style>

<script>
import { mapState } from 'vuex'

export default {
  name: 'page-dashboard',
  computed: mapState(['member']),
  mounted () {
    console.error({ member: this.member })
  },
  methods: {
    async refresh (done) {
      await this.$store.dispatch('member/refresh')
      done()
    }
  }
}
</script>
