<template>
  <q-page class='bg-light-gray'>
    <div class='column q-pa-md'>
      <div v-if='!member || !member.notifications || member.notifications.length == 0' class='text-h5 text-accent q-pb-md'>Нет уведомлений</div>
      <div v-if='member && member.notifications && member.notifications.length > 0' class='row items-start'>
        <template v-for="(notification, index) in member.notifications">
          <q-card flat bordered class='q-mb-md full-width' :key='index'>
            <notification :notification='notification' />
          </q-card>
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
import Notification from '../components/notification'
import { mapState } from 'vuex'

export default {
  name: 'page-notification',
  components: { Notification },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    }
  }
}
</script>
