<template>
  <q-page class='page bg-light row justify-center items-center'>
    <div class='column' v-if='!isDetailToggled'>
      <div class='row col-12 justify-center'>
        <p class='text-h6 text-center text-dark'>Пользовательские соглашения</p>
      </div>
      <div class='row'>
        <q-card flat bordered class='bg-white detail-card'>
          <q-card-section class='detail-section cursor-pointer' clickable @click='onDetailInternalClick'>
            <q-icon name='o_file_copy' size="xl" color='dark'/>
            <span class='text-accent text-italic q-ml-sm'>Соглашение КСП «ЭКПА»</span>
          </q-card-section>
          <q-separator />
          <q-card-section class='detail-section cursor-pointer' @click='onDetailCookieClick'>
            <q-icon name='o_file_copy' size="xl" color='dark'/>
            <span class='text-accent text-italic q-ml-sm'>Соглашение о хранении файлов cookie</span>
          </q-card-section>
        </q-card>
      </div>
      <div class='row'>
        <q-card flat bordered class='bg-white form-card'>
          <q-card-section>
            <div>
              <q-form class='q-gutter-md' @submit='submit'>
                <q-option-group
                  v-model="agreements"
                  :options="agreementsOptions"
                  color="green"
                  type="checkbox"
                />
                <div :disabled='!agreements.some((x) => x === "ekpa") || !agreements.some((x) => x === "cookie")'>
                  <q-btn outline unelevated color='primary' size='lg' class='full-width' type='submit' label='Продолжить' />
                </div>
              </q-form>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <q-card v-if='isDetailToggled && detailTarget === "ekpa"' flat bordered class='bg-white detail-form-card'>
      <q-card-section class='col-12'>
        <q-form class='q-gutter-md' @submit='submitInternal' @reset='resetInternal'>
          <agreement-internal />
          <div class='row q-gutter-md justify-center'>
            <q-btn outline unelevated color='positive' class='col-md-auto' type='submit' label='Принять' />
            <q-btn outline unelevated color='primary' class='col-md-auto' type="reset" label='Отклонить' />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
    <q-card v-if='isDetailToggled && detailTarget === "cookie"' flat bordered class='bg-white detail-form-card'>
      <q-card-section class='col-12'>
        <q-form class='q-gutter-md' @submit='submitCookie' @reset='resetCookie'>
          <agreement-cookie />
          <div class='row justify-center'>
            <q-btn outline unelevated color='positive' class='q-ma-xs col-md-auto' type='submit' label='Принять' />
            <q-btn outline unelevated color='primary' class='q-ma-xs col-md-auto' type="reset" label='Отклонить' />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<style lang='sass'>
.page
  padding: 20px;
.bg-light
  background-color: $light;
.detail-card
  width: 400px;
  margin-bottom: 10px;
.detail-section:hover
  background-color: $dark-highlight
.form-card
  width: 400px;
.detail-form-card
  width: 100%;
</style>

<script>
import { mapState } from 'vuex'
import agreementInternal from '../components/agreement-internal.vue'
import agreementCookie from '../components/agreement-cookie.vue'

export default {
  components: { agreementInternal, agreementCookie },
  name: 'page-agreement',
  data () {
    return {
      isDetailToggled: false,
      detailTarget: '',
      agreements: [],
      agreementsOptions: [
        { label: 'Принимаю соглашение КСП «ЭКПА»', value: 'ekpa' },
        { label: 'Принимаю соглашение о файлах cookie', value: 'cookie' }
      ]
    }
  },
  computed: mapState(['member']),
  methods: {
    async onDetailInternalClick () {
      this.isDetailToggled = true
      this.detailTarget = 'ekpa'
    },
    async onDetailCookieClick () {
      this.isDetailToggled = true
      this.detailTarget = 'cookie'
    },
    async submit () {
      try {
        if (this.agreements.length === 2) {
          await this.$store.dispatch('auth/acceptAgreements')
        }
      } catch {
        this.$router.replace({ name: 'login' })
      }
    },
    async submitCookie () {
      if (this.agreements.indexOf('cookie') < 0) {
        this.agreements.push('cookie')
      }
      this.isDetailToggled = false
    },
    async submitInternal () {
      if (this.agreements.indexOf('ekpa') < 0) {
        this.agreements.push('ekpa')
      }
      this.isDetailToggled = false
    },
    async resetCookie () {
      this.agreements = this.agreements.filter((x) => x !== 'cookie')
      this.isDetailToggled = false
    },
    async resetInternal () {
      this.agreements = this.agreements.filter((x) => x !== 'ekpa')
      this.isDetailToggled = false
    }
  }
}
</script>
