<template>
  <div class="row col-12">
    <span class="text-h6 text-bold text-accent text-center">Соглашение об использовании cookie-файлов</span>
    <p class="text-accent">Сайт lk.ekpa.ru (далее — «Сайт») использует идентификационные файлы cookies и схожие технологии, которые позволяют собирать необходимую информацию и статистику по посещениям для упрощения работы с сайтом, проведения маркетинговых активностей. Это такая информация, как: IP-адрес, тип и язык браузера, информация о поставщике Интернет-услуг, страницы отсылки и выхода, сведения об операционной системе, дата и время посещения. При использовании данного сайта, вы подтверждаете свое согласие на использование файлов cookie в соответствии с настоящим уведомлением в отношении данного типа файлов. Если вы не согласны с тем, чтобы мы использовали данный тип файлов, то вы должны соответствующим образом установить настройки вашего браузера или не использовать Сайт. Мы не несем ответственности за способы использования файлов cookies сторонними поставщиками и поисковыми системами.</p>
    <span class="text-h6 text-bold text-accent">Информация для Пользователей</span>
    <p class="text-accent">Во время просмотра любой страницы Сайта на ваш компьютер загружается сама страница, а также может загружаться небольшой текстовый файл под названием "cookie", позволяющий определить, был ли конкретный компьютер (и, вероятно, его Пользователь) на этом сайте раньше. Это происходит во время повторного посещения сайта посредством проверки компьютера пользователя на наличие файла "cookie", оставшегося с прошлого посещения. Файлы cookie широко используются владельцами сайтов для обеспечения работы сайтов или повышения эффективности работы, а также для получения аналитической информации.</p>
    <p class="text-accent">Файлы cookie могут размещаться на Вашем устройстве администрацией Сайта (эти файлы cookie называются «собственными»). Некоторые файлы cookie могут размещаться на Вашем устройстве другими операторами. Такие файлы cookie называются файлами «третьих лиц».</p>
    <p class="text-accent">Мы и третьи лица можем использовать файлы cookie, чтобы узнать, когда Вы посещаете Сайт, как взаимодействуете контентом. На основе файлов cookie может собираться и использоваться обобщенная и другая информация, не связанная с идентификацией отдельных пользователей (например, об операционной системе, версии браузера и URL-адресе, с которого выполнен переход на данную страницу, в том числе из электронного письма или рекламного объявления) — благодаря этому мы можем предоставить Вам более широкие возможности и проанализировать маршруты посещения сайтов, что служит инструментом для сбора обобщенной статистики об использовании сайта в целях аналитического исследования и помогает нам оптимизировать сайт.</p>
    <span class="text-h6 text-bold text-accent">Информация о "cookie"</span>
    <p class="text-accent">Файл "cookie" представляет собой небольшое количество данных, среди которых часто содержится уникальный анонимный идентификатор, посылаемый вашему браузеру компьютером сайта и сохраняемый на жестком диске вашего компьютера. Каждый сайт может посылать свои файлы "cookie" на ваш компьютер, если настройки вашего браузера разрешают это. В то же время (чтобы сохранить конфиденциальность ваших данных) ваш браузер открывает сайтам доступ только к вашим собственным "cookie", но не позволяет им пользоваться такими же файлами "cookie", оставленными другими сайтами.</p>
    <p class="text-accent">В файлах "cookie" хранится информация о ваших предпочтениях в интернете. Пользователи могут настроить свои компьютеры так, чтобы они автоматически принимали все файлы "cookie", либо предупреждали каждый раз, когда сайт пытается записать свой "cookie" на жесткий диск пользователя, либо вовсе не принимать никаких "cookie"-файлов. Последний вариант означает, что некоторые персональные услуги не могут быть предоставлены пользователям, а также что пользователи, выбравшие такие настройки, не смогут получить полный доступ ко всем разделам Сайта.</p>
    <p class="text-accent">Каждый браузер уникален, так что обратитесь к функции "Помощь" вашего браузера, чтобы узнать, как настроить работу с файлами "cookie".</p>
    <p class="text-accent">Если вы настроили свой компьютер на полный запрет приема "cookie" файлов, вы по-прежнему можете анонимно посещать Сайт до тех пор, пока вы не пожелаете воспользоваться одной из услуг сайта.</p>
    <span class="text-h6 text-bold text-accent">Срок хранения файлов cookie</span>
    <p class="text-accent">Некоторые файлы cookie действуют с момента вашего входа на сайт до конца данной конкретной сессии работы в браузере. При закрытии браузера эти файлы становятся ненужными и автоматически удаляются. Такие файлы cookie называются «сеансовыми».</p>
    <span class="text-h6 text-bold text-accent">Как изменить настройки cookie</span>
    <div class="col-12 row">
      <span class="text-accent">Настройка веб-браузера — эффективный способ управления cookie-файлами. Вы можете принять одно из следующих решений:</span>
      <ul>
        <li class="text-accent">разрешить использование всех cookie-файлов, интегрированных в страницы. Примечание: с одной стороны, доступ к этим cookie-файлам получат лишь их издатели; с другой стороны, этот процесс не является необратимым, и впоследствии вы всегда можете удалить эти cookie-файлы (процедура управления cookie-файлами различается в зависимости от используемого браузера; пожалуйста, обратитесь к соответствующим инструкциям)</li>
        <li class="text-accent">заблокировать cookie-файлы на вашем устройстве. В таком случае мы обязаны предупредить, что навигация по сайту будет затруднена. Некоторые функции требуют использования cookie-файлов (например, для распознавания вашей операционной системы и предпочитаемого языка). Следовательно, мы не несем ответственности за неудобства, вызванные ненадлежащей работой наших сервисов из-за отключения cookie-файлов</li>
        <li class="text-accent">включить использование cookie-файлов по запросу в каждом конкретном случае</li>
        <li class="text-accent">принимать или отклонять cookie-файлы в зависимости от их издателя</li>
      </ul>
    </div>
    <span class="text-h6 text-bold text-accent">Процедура управления cookie-файлами различается в зависимости от используемого браузера. Более подробные инструкции доступны по     <a class="text-h6 text-bold text-accent" href="https://yandex.ru/support/common/browsers-settings/browsers-cookies.html">ссылке</a>:</span>
    <p class="text-accent">Мы не несем ответственность за контент, способы сбора и обработки информации сторонними сайтами, в том числе сайтами, ссылки на которые могут быть опубликованы на нашем ресурсе. Пожалуйста, ознакомьтесь с политикой конфиденциальности тех ресурсов, которые Вы посещаете, прежде чем предоставлять свои данные.</p>
  </div>
</template>

<script>
export default {
  name: 'agreement-cookie'
}
</script>
