<template>
  <div class="row">
    <div class="row col-12 justify-center">
      <q-btn flat class="q-my-md col-md-auto" href='http://new.ekpa.ru/files/images/DOCS/agreements.pdf' type="a">Скачать документ в формате pdf</q-btn>
    </div>
    <div class="row col-12">
      <q-expansion-item
          dense
          dense-toggle
          label="Посмотреть на этой странице"
          class="q-px-md full-width payment-expanded"
          header-class="bg-accent text-white"
          expand-icon-class="text-white"
        >
        <p class="text-h6 text-bold text-accent text-center">Соглашение об использовании личного кабинета пайщика КСП «ЭКПА»</p>
        <span class="text-h6 text-bold text-accent">1. Предмет Соглашения</span>
        <p class="text-accent">1.1 Настоящее Соглашение регулируют отношения пользователей (указанных в пункте 1.2 настоящего Соглашения) с Кредитным потребительским кооперативом <strong>«Кредитный союз потребителей «ЭКПА»</strong> (ОГРН 1028601391180, ИНН/КПП 8606000099/860601001) (далее так же – КСП «ЭКПА», Оператор), как оператором информационного ресурса «Личный кабинет пайщика КСП «ЭКПА»» (подсистемы сайта https://www.lk.ekpa.ru/, далее так же – Сайт).</p>
        <p class="text-accent">1.2 <strong>Пользователем</strong> «Личного кабинета пайщика КСП «ЭКПА»» (далее так же - «Личный кабинет», «Личный кабинет пайщика») является любой член (пайщик) КСП «ЭКПА», получивший доступ к «Личному кабинету» и прошедший авторизацию на Сайте, в порядке, установленном настоящим Соглашением.</p>
        <span class="text-h6 text-bold text-accent">2. Порядок получения и прекращения доступа к «Личному кабинету» и авторизации в «Личном кабинете»</span>
        <p class="text-accent">2.1 Любой член (пайщик) КСП «ЭКПА» может бесплатно получить доступ к «Личному кабинету», лично обратившись в КСП «ЭКПА» с письменным заявлением в котором должен указать действительный номер мобильного телефона, который должен быть уникальным и не повторяться у иных лиц (далее так же - Действительный номер Пользователя).</p>
        <p class="text-accent">2.2. Для авторизации пользователь, подавший заявление предусмотренное пунктом 2.1 настоящего Соглашения, подтверждает свой Действительный номер Пользователя с помощью пароля (кода) доступа (шифр из цифр/цифр и букв), направленного пользователю в форме СМС- сообщения на Действительный номер Пользователя (далее так же – Код доступа).</p>
        <p class="text-accent">Такое сообщение направляется только на Действительный номер Пользователя и считается предоставленным Пользователю лично.</p>
        <p class="text-accent">Для изменения Действительного номера Пользователь должен лично обратиться в КСП «ЭКПА» с письменным заявлением в котором должен указать новый Действительный номер.</p>
        <p class="text-accent">2.3 Стороны согласны с тем, что указанный в п. 2.2 Соглашения способ определения Пользователя является достаточным для цели достоверной идентификации Пользователя и исполнения настоящего Соглашения. При условии ввода правильного Кода доступа, предусмотренного настоящим Соглашением, все действия, совершенные в «Личном кабинете», считаются совершенными от имени Пользователя.</p>
        <p class="text-accent">2.4. Осуществляя авторизацию, Пользователь выражает согласие на получение на Действительный номер, СМС — сообщений с Кодом доступа, а так же СМС — сообщений информационного характера, касающихся вопросов использования «Личного кабинета».</p>
        <p class="text-accent">2.5. Прекращение доступа к «Личному кабинету» производится на основании письменного заявления Пользователя.</p>
        <p class="text-accent">КСП «ЭКПА» вправе прекратить доступ к «Личному кабинету» при нарушении Пользователем условий настоящего Соглашения.</p>
        <p class="text-accent">Доступ к «Личному кабинету» автоматически прекращается при прекращении членства пайщика в КСП «ЭКПА» (с даты прекращения членства)</p>
        <p class="text-accent"></p>
        <span class="text-h6 text-bold text-accent">3. Права и обязанности пользователя «Личного кабинета»</span>
        <p class="text-accent">3.1 Пользователь вправе:</p>
        <ul class="text-accent q-ml-md">
          <li>использовать свою учётную запись в «Личном кабинете» для санкционированного доступа к информации, предоставляемой КСП «ЭКПА» через «Личный кабинет» и для правомерного использования функций, реализованных КСП «ЭКПА» через «Личный кабинет»;</li>
          <li>обращаться в КСП «ЭКПА» любым удобным способом (лично, по телефону, направлением почтового отправления и т.п.) по реквизитам, указанным в настоящем Соглашении или на Сайте в целях: корректировки недостоверной информации (по мнению Пользователя); оптимизации работы «Личного кабинета»; при выявлении им случаев несанкционированного использования «Личного кабинета»; в случае утраты SIM-карты, обеспечивающей возможность использования Действительного номера или в иных правомерных целях.</li>
        </ul>
        <p class="text-accent">3.2 Пользователь «Личного кабинета» обязан:</p>
        <ul class="text-accent q-ml-md">
          <li>обеспечить за свой счет доступ в Интернет, а также настройку и защиту от несанкционированного использования своего компьютерного и иного оборудования / устройств, применяемых для использования «Личного кабинета» (в т.ч. телефона на котором используется SIM-карта, обеспечивающая возможность использования Действительного номера), а также оперативно реагировать при обнаружении случаев несанкционированного использования;</li>
          <li>ознакомиться с условиями настоящего Соглашения до момента акцепта Соглашения (п. 7.1. Соглашения), регулярно самостоятельно проверять условия Соглашения на предмет его изменения;</li>
          <li>выполнять требования, установленные Соглашением;</li>
          <li>обеспечить сохранность информации о Коде доступа и информации, содержащейся в «Личном кабинете» (Пользователь самостоятельно определяет порядок ограничения доступа к такой информации), незамедлительно уведомить Оператора по любым реквизитам, указанным в настоящем Соглашении, если информация о Коде доступа стала известна третьим лицам или может стать известной третьим лицам (например в случае несанкционированного получения третьими лицами Кода доступа или телефона на котором установлена SIM-карта, обеспечивающая возможность использования Действительного номера);</li>
          <li>использовать предоставленный ему доступ к «Личному кабинету» только в правомерных целях, правомерными способами и в пределах тех полномочий, которые предусмотрены Соглашением;</li>
          <li>не осуществлять при использовании предоставленного ему доступа к «Личному кабинету» незаконных действий, в том числе действий наносящих ущерб Оператору, другим Пользователям или третьим лицам;</li>
          <li>не производить действия, направленные на нарушение процесса функционирования «Личного кабинета» или информационных систем, подключенных к «Личному кабинету», не нарушать информационную безопасность Сайта, не вносить любые изменения программного характера, в том числе не внедрять любого рода программный код, в том числе, исполняемый код, не внедрять любые внедряемые объекты;</li>
          <li>не уничтожать и (или) не изменять любую информацию, размещённую в «Личном кабинете»;</li>
          <li>соблюдать требования конфиденциальности, предусмотренные настоящим Соглашением.</li>
        </ul>
        <span class="text-h6 text-bold text-accent">Права и обязанности Оператора. Ограничение ответственности Оператора</span>
        <p class="text-accent">4.1 Оператор «Личного кабинета» вправе:</p>
        <ul class="text-accent q-ml-md">
          <li>самостоятельно определять перечень информации, предоставляемой для ознакомления через «Личный кабинет» и перечень операций (действий), которые Пользователь вправе совершать через «Личный кабинет».</li>
          <li>проводить мониторинг действий пользователя в «Личном кабинете»;</li>
          <li>вести учёт и статистику обращений пользователей к «Личному кабинету»;</li>
          <li>ограничивать доступ пользователя к информации, предоставляемой через «Личный кабинет», в том числе путём блокировки учётной записи пользователя при нарушении Пользователем условий настоящего Соглашения;</li>
          <li>в целях обеспечения безопасности и (или) надлежащего исполнения условий настоящего Соглашения ограничивать доступ Пользователя к «Личному кабинету», путём блокирования доступа к Сайту для всех Пользователей или части Пользователей (определяемых Оператором самостоятельно);</li>
          <li>изменить настоящие условия использования «Личного кабинета» без уведомления Пользователя;</li>
          <li>обрабатывать персональные данные Пользователя для целей исполнения Соглашения в порядке и на условиях, предусмотренных Соглашением и законодательством РФ;</li>
          <li>отказать Пользователю в авторизации в случае неоднократного некорректного ввода Кода доступа;</li>
          <li>направлять Пользователю информационные сообщения через «Личный кабинет» или на Действительный номер Пользователя.</li>
        </ul>
        <p class="text-accent">4.2 Оператор «Личного кабинета» обязан:</p>
        <ul class="text-accent q-ml-md">
          <li>обеспечить функционирование «Личного кабинета» в соответствии с условиями настоящего Соглашения;</li>
          <li>гарантировать целостность и неизменность данных пользователей при размещении их в «Личном кабинете»;</li>
          <li>обеспечить защиту персональных данных пользователя в соответствии с требованиями законодательства РФ (в случае размещения персональных данных в «Личном кабинете»).</li>
        </ul>
        <p class="text-accent">4.3. Личный кабинет предоставляется Оператором в состоянии «как есть», функциональные (программные) возможности «Личного кабинета» определяются Оператором самостоятельно и могут быть им изменены без предупреждения в одностороннем порядке.</p>
        <p class="text-accent">4.4. Оператор прилагает все возможные усилия для обеспечения нормальной работоспособности «Личного кабинета», однако не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по Соглашению, а также возможные убытки, возникшие в том числе, но не ограничиваясь, в результате:</p>
        <ul class="text-accent q-ml-md">
          <li>отсутствия (невозможности установления, прекращения и пр.) интернет-соединения между сервером Пользователя и сервером Сайта;</li>
          <li>выполнения технических работ (по модернизации «Личного кабинета», устранению ошибок и т.п.);</li>
          <li>осуществленного Оператором ограничения/ блокирования доступа к Сайту для всех Пользователей или части Пользователей (определяемых Оператором самостоятельно) в целях обеспечения безопасности и (или) надлежащего исполнения условий настоящего Соглашения;</li>
          <li>установления государственного регулирования (или регулирования иными организациями) хозяйственной деятельности коммерческих организаций в сети Интернет и/или установления указанными субъектами разовых ограничений, затрудняющих или делающих невозможным исполнение Соглашения;</li>
          <li>В других случаях, связанных с действиями (бездействием) Пользователей и/или других субъектов, направленными на ухудшение общей ситуации с использованием сети Интернет и/ или компьютерного оборудования, существовавшей на момент заключения Соглашения, а также любых других действий, направленных на Сайт/ «Личный кабинет».</li>
        </ul>
        <span class="text-h6 text-bold text-accent">5. Конфиденциальность</span>
        <p class="text-accent">5.1 Пользователь обязан:</p>
        <p class="text-accent">5.1.1 Не разглашать третьим лицам информацию о Коде доступа к «Личному кабинету», предоставленном ему в порядке, установленном настоящим Соглашением и предпринимать все меры, необходимые и достаточные для сохранения Кода доступа в тайне;</p>
        <p class="text-accent">5.1.2 Не передавать третьим лицам SIM-карту, которая обеспечивает возможность использовать Действительный номер;</p>
        <p class="text-accent">5.2 Пользователь несет риск наступления всех неблагоприятных последствий, которые могут наступить в связи с неисполнением им своих обязанностей, предусмотренных пп. 5.1.1 – 5.1.2, в том числе риски, связанные с недобросовестными или незаконными действиями третьих лиц, которые смогли получить доступ к вышеуказанной информации. При использовании «Личного кабинета», до момента получения от Пользователя информации о нарушения режима конфиденциальности, все действия и документы, совершенные и направленные с помощью Личного кабинета, даже если такие действия и документы были совершены и направлены иными лицами, считаются совершенными и направленными Пользователем. В этом случае права и обязанности, а также ответственность наступают у Пользователя.</p>
        <span class="text-h6 text-bold text-accent">6. Заключительные положения</span>
        <p class="text-accent">6.1 Соглашение вступает в силу в момент его акцепта Пользователем (п. 7.1. Соглашения) и действует бессрочно.</p>
        <p class="text-accent">6.2 Стороны несут ответственность за невыполнение или ненадлежащее выполнение своих обязанностей в соответствии с действующим законодательством Российской Федерации.</p>
        <p class="text-accent">6.3 Споры между сторонами подлежат рассмотрению в порядке предусмотренном действующим законодательством и настоящим Соглашением. Досудебный порядок урегулирования возможных споров – обязателен. Срок ответа на претензию – 15 дней, если больший срок не согласован сторонами.</p>
        <p class="text-accent">6.4 Настоящее Соглашение заключено на неопределенный срок и сохраняет юридическую силу на протяжении всего использования Пользователем Сайта.</p>
        <span class="text-h6 text-bold text-accent">7. Порядок присоединения к условиям Соглашения об использовании личного кабинета</span>
        <p class="text-accent">7.1 Совершение действий по авторизации в «Личном кабинете» в порядке, предусмотренном настоящим Соглашением (ввод Кода доступа, направленного на Действительный номер Пользователя), является полным и безоговорочным принятием Пользователем всех без исключения условий настоящего Соглашения (акцептом) в редакции, которая действовала на соответствующую дату и моментом заключения между Оператором и Пользователем Соглашения.</p>
        <p class="text-accent">7.2 Совершение Пользователем действий по авторизации в «Личном кабинете» в порядке, предусмотренном настоящим Соглашением (ввод Кода доступа, направленного на Действительный номер Пользователя), после вступления в силу новой редакции Соглашения, означает принятие и согласие Пользователя с новой редакцией Соглашения, а также применение к Пользователю в полном объёме положений новой редакции Соглашения.</p>
        <p class="text-accent">7.3 Соглашение может быть изменено Оператором «Личного кабинета» в любое время без специального уведомления Пользователя. Новая редакция Соглашения вступает в силу с даты её размещения на Сайте по ссылке <a href='http://new.ekpa.ru/files/images/DOCS/agreements.pdf'>agreements.pdf</a>. Пользователь обязуется ознакомиться с действующей редакцией Соглашения и регулярно самостоятельно проверять условия настоящего Соглашения на предмет его изменения.</p>
        <span class="text-h6 text-bold text-accent">8. Реквизиты Оператора</span>
        <p class="text-accent"><strong>Кредитный потребительский кооператив «Кредитный союз потребителей «ЭКПА»</strong> (ОГРН 1028601391180, ИНН/КПП 8606000099/860601001)</p>
        <p class="text-accent"><strong>628285, Ханты-Мансийский автономный округ-Югра, г. Урай, микрорайон 2, дом 54А.</strong></p>
        <p class="text-accent"><strong>Телефоны 8 (34676) 21055, 24450, 24666</strong></p>
        <p class="text-accent"><strong>Сайт: <a href='http://new.ekpa.ru'>http://www.ekpa.ru/</a></strong></p>
        <p class="text-accent"><strong>Адрес электронной почты: ekpa@ekpa.ru</strong></p>
      </q-expansion-item>
    </div>
  </div>
</template>

<script>
export default {
  name: 'agreement-ekpa'
}
</script>
