<template>
  <div class="row">
    <q-card-section class="col-12">
      <div class="text-overline">Вид сбережения:</div>
      <div class="text-h5 text-accent">{{deposit.description}}</div>
    </q-card-section>
    <q-card-section class='col-12 col-md-3 col-sm-6'>
      <div class='text-overline'>Номер договора:</div>
      <div class='text-h5 text-accent'>{{deposit.contractNumber}}</div>
    </q-card-section>
    <q-card-section class="col-12 col-md-3 col-sm-6">
      <div class="text-overline">Сумма на {{$utils.formatDate(Date.now())}}:</div>
      <div class="text-h5 text-accent">{{$utils.formatMoney(deposit.amount)}}</div>
    </q-card-section>
    <q-card-section class="col-12 col-md-3 col-sm-6">
      <div class="text-overline">Дата выплаты процентов:</div>
      <div class="text-h5 text-accent">{{$utils.formatDate(deposit.calculationDate)}}</div>
    </q-card-section>
    <q-card-section class="col-12 col-md-3 col-sm-6">
      <div class="text-overline">Уплачиваемая процентная ставка:</div>
      <div class="text-h5 text-accent">{{deposit.interestRate}}% годовых</div>
    </q-card-section>
    <!-- Паи -->
    <!-- <q-separator v-if='deposit.shares && deposit.shares.length > 0' />
    <div class='row' v-if='deposit.shares && deposit.shares.length > 0' >
      <q-card-section class='col-12'>
        <div class='row'>
          <div class='text-overline'>Паи:</div>
        </div>
        <template v-for='(text, index) in deposit.shares.map(x => `На сумму ${$utils.formatMoney(x.amount)}, открыт ${$utils.formatDate(x.createdAt)}`)'>
          <q-chip icon='icon-dashboard-deposit' :key='index'>{{text}}</q-chip>
        </template>
      </q-card-section>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'deposit',
  props: ['deposit']
}
</script>
