<template>
  <q-card-main v-if="loan">
    <q-card-section class="col-12">
      <div class="text-overline">Заёмщик:</div>
      <div class="text-h5">{{loan.member.displayName}}</div>
    </q-card-section>
    <q-separator />
    <loan :loan="loan"></loan>
  </q-card-main>
</template>

<script>
import Loan from './loan'

export default {
  name: 'guarantee',
  components: { Loan },
  props: ['loan']
}
</script>
