<template v-bind:class='paymentDateKind'>
  <q-card-main class='background-target'>
    <div class='row'>
      <q-card-section v-if='paymentDateKind !== "far"'  class='col-12 bg-red'>
        <div class='text-h5 text-light'>{{paymentDateMessage}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-6'>
        <div class='text-overline'>Вид займа:</div>
        <div class='text-h5 text-accent'>{{loan.description}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Номер договора:</div>
        <div class='text-h5 text-accent'>{{loan.contractNumber}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Процентная ставка:</div>
        <div class='text-h5 text-accent'>{{loan.interestRate}}% годовых</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Дата выдачи займа:</div>
        <div class='text-h5 text-accent'>{{$utils.formatDate(loan.createdAt)}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Дата окончания срока:</div>
        <div class='text-h5 text-accent'>{{$utils.formatDate(loan.expirationDate)}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Сумма займа:</div>
        <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.amount)}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3 col-sm-6'>
        <div class='text-overline'>Остаток:</div>
        <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.remains)}}</div>
      </q-card-section>
      <q-separator />
      <q-card-section class='col-12 col-md-3'>
        <div class='text-overline'>Дата следующего платежа:</div>
        <div class='text-h5' v-bind:class='[paymentDateKind === "negative" ? "text-negative" : "text-accent"]'>{{$utils.formatDate(loan.paymentDate)}}</div>
      </q-card-section>
      <q-card-section class='col-12 col-md-3'>
        <div class='text-overline'>Сумма следующего платежа:</div>
        <div class='text-h5 text-accent'>{{$utils.formatMoney(paymentAmount)}}</div>
      </q-card-section>
      <q-expansion-item
        dense
        dense-toggle
        v-model="paymentExpanded"
        label="Состав платежа"
        class="col-12 payment-expanded"
        header-class="bg-accent text-white"
        expand-icon-class="text-white"
      >
        <q-card class='row'>
          <q-card-section class='col-12 col-md-6'>
            <div class='text-overline'>Задолженность (Основной долг):</div>
            <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.paymentDebtMain)}}</div>
          </q-card-section>
          <q-card-section class='col-12 col-md-6'>
            <div class='text-overline'>Задолженность (Компенсация):</div>
            <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.paymentDebtPercent)}}</div>
          </q-card-section>
          <q-card-section class='col-12 col-md-6'>
            <div class='text-overline'>Основной долг:</div>
            <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.paymentMain)}}</div>
          </q-card-section>
          <q-card-section class='col-12 col-md-6'>
            <div class='text-overline'>Компенсация:</div>
            <div class='text-h5 text-accent'>{{$utils.formatMoney(loan.paymentPercent)}}</div>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-separator v-if='loan.guarantors && loan.guarantors.length > 0' />
      <div class='row' v-if='loan.guarantors && loan.guarantors.length > 0' >
        <q-card-section class='col-12'>
          <div class='row'>
            <div class='text-overline'>Поручители:</div>
          </div>
          <template v-for='(text, index) in loan.guarantors.map(x => x.displayName)'>
            <q-chip icon='o_account_circle' :key='index'>{{text}}</q-chip>
          </template>
        </q-card-section>
      </div>
      <!-- Паи -->
      <!-- <q-separator v-if='loan.shares && loan.shares.length > 0' />
      <div class='row' v-if='loan.shares && loan.shares.length > 0' >
        <q-card-section class='col-12'>
          <div class='row'>
            <div class='text-overline'>Паи:</div>
          </div>
          <template v-for='(text, index) in loan.shares.map(x => `На сумму ${$utils.formatMoney(x.amount)}, открыт ${$utils.formatDate(x.createdAt)}`)'>
            <q-chip icon='icon-dashboard-deposit' :key='index'>{{text}}</q-chip>
          </template>
        </q-card-section>
      </div> -->
      <!-- Залоги -->
      <!-- <q-separator v-if='loan.pledges && loan.pledges.length > 0' />
      <q-card-section class='col-12' v-if='loan.pledges && loan.pledges.length > 0'>
        <q-chip icon='icon-dashboard-loan-pledge'>Есть залог с обременением</q-chip>
      </q-card-section> -->
    </div>
  </q-card-main>
</template>

<style lang='sass'>
.near
  background-color: $warning;
.negative
  background-color: $negative;
  text-coloe: white;
.payment-expanded
  border-radius: 15px;
</style>

<script>
export default {
  name: 'loan',
  data () {
    return {
      paymentExpanded: false
    }
  },
  props: ['loan'],
  computed: {
    paymentDateDelta () {
      return this.$utils.daysBetweenNow(this.$props.loan.paymentDate)
    },
    paymentDateKind () {
      if (this.paymentDateDelta > 4) {
        return 'far'
      } else if (this.paymentDateDelta > 0) {
        return 'near'
      } else if (this.paymentDateDelta === 0) {
        return 'zero'
      } else {
        return 'negative'
      }
    },
    paymentDateMessage () {
      switch (this.paymentDateKind) {
        case 'zero':
          return 'Внимание! Сегодня — последний день оплаты займа!'
        case 'near':
          return `Внимание! Осталось ${Math.abs(this.paymentDateDelta)} дн. до даты платежа`
        case 'negative':
          return `Внимание! Просрочка платежа на ${Math.abs(this.paymentDateDelta)} дн.`
        default:
          return `Осталось ${Math.abs(this.paymentDateDelta)} дн.`
      }
    },
    paymentAmount () {
      return this.loan.paymentDebtMain + this.loan.paymentDebtPercent + this.loan.paymentMain + this.loan.paymentPercent
    }
  }
}
</script>
