<template>
  <q-card flat bordered class='bg-white' style='width: 400px;'>
    <q-card-section>
      <div>
        <q-form class='q-gutter-md' @submit='submit'>
          <div>
            <q-btn outline unelevated color='primary' size='lg' class='full-width' type='submit' label='Выйти' />
          </div>
        </q-form>
      </div>
    </q-card-section>
  </q-card>
</template>

<style lang='sass'>
.bg-light
  background-color: $light
</style>

<script>
export default {
  name: 'logout',
  data () {
    return {
      email: null,
      password: null
    }
  },
  methods: {
    async submit () {
    }
  }
}
</script>
