<template>
  <div class='row' v-if='notification'>
    <q-card-section>
      <div class='text-overline'>{{ notification.kind }}</div>
      <q-button flat class='text-h5 text-accent' @click='onDocumentDownloadClick'><q-icon>assignment_returned_o</q-icon></q-button>
    </q-card-section>
    <q-card-section>
      <div class='text-overline'>Ведомство:</div>
      <div class='text-h5 text-accent'>Отдел взыскания</div>
    </q-card-section>
    <q-card-section>
      <div class='text-overline'>Дата отправки:</div>
      <div class='text-h5 text-accent'>{{ $utils.formatDate(notification.createdAt) }}</div>
    </q-card-section>
    <q-card-section v-if='notification.sender'>
      <div class='text-overline'>Отправитель</div>
      <div class='text-h5 text-accent'>{{ notification.sender }}</div>
    </q-card-section>
    <q-card-section v-if='notification.contact'>
      <div class='text-overline'>Контакты</div>
      <div class='text-h5 text-accent'>{{ notification.contact }}</div>
    </q-card-section>
  </div>
</template>

<style lang='sass'>
.bg-light
  background-color: $light
</style>

<script>
export default {
  name: 'notification',
  props: ['notification'],
  methods: {
    async documentDownloadClick () {
      this.$axios.Authenticated
        .post(`notifications/${this.notification.id}/download`, {
          responseType: 'arraybuffer'
        })
    }
  }
}
</script>
