<template>
  <div class='row' v-if='ticket'>
    <q-card-section>
      <div class="text-overline">Ведомство:</div>
      <div class="text-h5 text-accent">{{ $mappers.mapTicketTemplateKind(ticket.kind) }}</div>
    </q-card-section>
    <q-card-section>
      <div class="text-overline">Тематика:</div>
      <div class="text-h5 text-accent">{{ $mappers.mapTicketTemplateName(ticket.name) }}</div>
      <div class="text-overline">{{ $mappers.mapTicketTemplateNameDescription(ticket.name) }}</div>
    </q-card-section>
    <q-card-section>
      <div class="text-overline">Статус:</div>
      <div class="text-h5 text-accent">{{ $mappers.mapTicketStatus(ticket.status) }}</div>
    </q-card-section>
    <q-card-section>
      <div class="text-overline">Заявка зарегистрирована:</div>
      <div class="text-h5 text-accent">{{ $utils.formatDate(ticket.createdAt) }}</div>
    </q-card-section>
  </div>
</template>

<style lang='sass'>
.bg-light
  background-color: $light
</style>

<script>
export default {
  name: 'ticket',
  props: ['ticket']
}
</script>
