<template>
  <div class='row'>
    <q-card-section class='col-12 col-md-6 col-sm-4'>
      <div class='text-h5 text-accent'>{{ $mappers.mapTicketTemplateDepartment(template.department) }}</div>
    </q-card-section>
    <q-card-section class='col-12 col-md-6 col-sm-4'>
      <div class='text-h5 text-accent'>{{ $mappers.mapTicketTemplateName(template.name) }}</div>
    </q-card-section>
    <q-card-section class='col-12 col-md-6 col-sm-4'>
      <div class='text-h5 text-accent'>{{ $mappers.mapTicketTemplateNameDescription(template.name) }}</div>
    </q-card-section>
    <div class='row'>
      <q-card-actions class='justify-end'>
        <q-btn flat icon-right='input' label='Подать обращение' @click='registerTicket'/>
      </q-card-actions>
    </div>
  </div>
</template>

<style lang='sass'>
.bg-light
  background-color: $light
</style>

<script>
export default {
  name: 'ticket-template',
  props: ['template'],
  methods: {
    registerTicket () {
      console.log('REGISTER TICKET CLICKED')
    }
  }
}
</script>
