@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wkah9d');
  src:  url('fonts/icomoon.eot?wkah9d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wkah9d') format('truetype'),
    url('fonts/icomoon.woff?wkah9d') format('woff'),
    url('fonts/icomoon.svg?wkah9d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-member-notification:before {
  content: "\e900";
}
.icon-dashboard-claim:before {
  content: "\e903";
}
.icon-dashboard-loan-guarantee:before {
  content: "\e904";
}
.icon-dashboard-loan:before {
  content: "\e905";
}
.icon-dashboard-member:before {
  content: "\e906";
}
.icon-dashboard-loan-pledge:before {
  content: "\e907";
}
.icon-dashboard-deposit:before {
  content: "\e908";
}
.icon-forward:before {
  content: "\ea3c";
}
.icon-backward:before {
  content: "\ea40";
}
