<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
import Vue from 'vue'
import { Notify } from 'quasar'
export default {
  name: 'App',
  async mounted () {
    Vue.config.errorHandler = function (error, vm, info) {
      const {
        response: {
          data: {
            message
          }
        }
      } = error
      if (!message) {
        Notify.create({
          type: 'negative',
          message: 'Сервис временно недоступен\n, повторите попытку позднее.',
          caption: error.toString(),
          multiLine: true
        })
        console.error('ERROR 2')
      }
    }
  }
}
</script>
