<template>
  <q-layout view='hHh Lpr lFf'>
    <q-header elevated>
      <q-toolbar class='bg-dark'>
        <q-avatar class='logotype'><img src='../assets/logotype.night.svg'></q-avatar>
        <q-toolbar-title>{{ title }}</q-toolbar-title>
        <q-toolbar-title v-if='!isMobile' class='text-right'>{{ member.displayName }}</q-toolbar-title>
        <div class='q-gutter-sm row no-wrap'>
          <q-btn flat round dense icon='o_more_vert' >
            <q-menu>
              <q-list style='min-width: 250px'>
                <q-item v-if='isMobile'>
                  <q-item-section @click='logout'>{{ member.displayName }}</q-item-section>
                </q-item>
                <q-separator />
                <q-item clickable v-close-popup>
                  <q-item-section @click='logout'>Выход на этом устройстве</q-item-section>
                </q-item>
                <q-separator />
                <q-item clickable v-close-popup>
                  <q-item-section @click='logout'>Выход на всех устройствах</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </q-toolbar>
      <q-toolbar v-if='isMobile && !isDrawerVisible' class='bg-accent text-white'>
        <q-btn flat icon='icon-backward' label='Назад' @click='isDrawerVisible = true'/>
      </q-toolbar>
    </q-header>
    <q-drawer
      bordered
      persistent
      show-if-above
      v-model='isDrawerVisible'
      side='left'
      content-class='bg-grey-1'
    >
      <q-scroll-area class='fit'>
        <q-list>
          <template v-for='(command, index) in commands'>
            <q-item
              clickable
              class='menu'
              active-class='bg-light menu-active'
              :active='command.route.name === $route.name'
              :to='command.route'
              :key='index'
              @click='onCloseDrawer'
            >
              <q-item-section class='text-right'>{{ command.displayName }}</q-item-section>
              <q-item-section avatar v-if='command.icon'>
                <q-icon :name='command.icon' class='menu-icon'/>
              </q-item-section>
              <q-badge v-if='command.badge' floating transparent>{{ command.badge }}</q-badge>
            </q-item>
            <q-separator :key='"separator" + index' />
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
    <q-resize-observer @resize='onResize' />
  </q-layout>
</template>
<style scoped lang='scss'>
.logotype {
  width: 48px;
  height: 48px;
  margin: 10px;
}
.menu {
  color: $dark;
}
.menu-active {
  color: $primary;
}
.menu-icon {
  font-size: 3em;
}
.breadcrumbs {
  margin: 10px;
}
</style>
<script>
import { mapState } from 'vuex'

export default {
  name: 'layout-authenticated',
  data () {
    return {
      isMobile: this.$q.screen.width < 992,
      isDrawerVisible: true
    }
  },
  computed: {
    ...mapState(['member']),
    title () {
      const [first] = this.commands.filter((x) => x.route.name === this.$route.name)
      return first?.displayName
    },
    commands () {
      return [
        {
          displayName: 'Профиль',
          route: { name: 'dashboard' },
          icon: 'o_account_circle'
        },
        {
          displayName: 'Сбережения',
          route: { name: 'deposit' },
          icon: 'icon-dashboard-deposit'
        },
        {
          displayName: 'Займы',
          route: { name: 'loan' },
          icon: 'icon-dashboard-loan'
        },
        {
          displayName: 'Поручительства',
          route: { name: 'guarantee' },
          icon: 'icon-dashboard-loan-guarantee'
        }
        // {
        //   displayName: 'Уведомления',
        //   route: { name: 'notification' },
        //   icon: 'notifications',
        //   badge: this.member.notifications ? this.member.notifications.length : false
        // }
        // {
        //   displayName: 'Обращения',
        //   route: { name: 'ticket' },
        //   icon: 'question_answer'
        // }
      ]
    }
  },
  async mounted () {
    const { member } = this
    console.error('layout-authenticated mounted', member)
    if (!member || !member.id) {
      this.refresh()
    }
  },
  methods: {
    onResize (size) {
      this.isMobile = this.$q.screen.width < 992
      console.error({ isMobile: this.isMobile })
    },
    onCloseDrawer () {
      this.isDrawerVisible = !this.isMobile
    },
    refresh () {
      this.$store.dispatch('member/refresh')
    },
    logout () {
      this.$store.dispatch('auth/logout')
    },
    backward () {
      this.$router.push({ name: 'dashboard' })
    }
  },
  watch: {
    isMobile (before, after) {
      if (!this.isDrawerVisible && before && !after) {
        this.isDrawerVisible = true
      } else if (!this.isDrawerVisible && !before && after) {
        this.isDrawerVisible = true
      }
    }
  }
}
</script>
